@{
  Layout = "_Layout";
}


@using Factory.Models


<div class="jumbotron">
  <h1>All Engineers and Machines</h1>
</div>
<hr />
<div class="row">
  <div class="card">

  </div>
  <div class="card">
    
  </div>
</div>