@{
  Layout = "_Layout";
}

@model Factory.Models.Location

<div class="jumbotron">
  <h1>Assign Engineer to Location here</h1>
</div>
<hr />
<h3>Assign an Engineer to @Html.DisplayFor(model => model.Name)</h3>
@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.LocationId)
  @Html.Label("Choose Engineer:")
  @Html.DropDownList("EngineerId")
  <br>
  <input type="submit" value="Add to Location" />
}