@{
  Layout = "_Layout";
}

@model Factory.Models.Location

<div class="jumbotron">
  <h1>Assign Machine to Location here</h1>
</div>
<hr />
<h3>Assign an Machine to @Html.DisplayFor(model => model.Name)</h3>
@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.LocationId)
  @Html.Label("Choose Machine:")
  @Html.DropDownList("MachineId")
  <br>
  <input type="submit" value="Add to Location" />
}