@{
  Layout = "_Layout";
}

<div class="jumbotron">
  <h1>Welcome to <span class="dr">Dr</span>.Sillystringz's Factory!</h1>
</div>
<hr />
<div class="row">
  <div class="card tc spin">
    <h4>Creating a Machine:</h4>
    <hr />
    <p>To add a <strong>machine</strong>, click on the "Show all Machines" button in the nav bar. Click "Add New Machine". Fill out the name for the machine and click "Add Machine". Congradulations! You have added a machine!</p>
  </div>
  <div class="card tc">
    <h4>Creating an Engineer:</h4>
    <hr />
    <p>To add an <strong>engineer</strong>, click on the "Show all Engineers" button in the nav bar. Click "Add New Engineer". Fill out the name for the engineer and click "Add Engineer". Congradulations! You have added an engineer!</p>
  </div>
</div>
<div class="row">
  <div class="card bc">
    <h4>Adding Engineer to Machine:</h4>
    <hr />
    <p>To add an <strong>engineer</strong> to a <strong>machine</strong>, click on either a machine or an engineer, there will be an option to assign an engineer to a machine or vice versa. Use the dropdown list and click "Add to Machine".</p>
  </div>
  <div class="card bc">
    <h4>Marking Machine as Fixed:</h4>
    <hr />
    <p>To mark a machine as fixed, go to "See all Machines" click on the machine that is fixed, then click "Edit Machine". Once editing the machine, you are able to check the checkbox for "Mark Machine as Fixed" and click "Update Machine".</p>
  </div>
</div>

